/************************************************/
/* EMBROIDERMODDER WEBSITE                      */
/************************************************/

body
{
background-color:#000000;
background-image:url("images/texture-spirals.png");
min-width:700px;
margin:0;
padding:0;
font-family:sans-serif;
}

img
{
border:0;
}

a{text-decoration:none;font-size:100%;color:#55C4E6;}
a:link{text-decoration:none;font-size:100%;color:#55C4E6;}

li { color:#0C6AB0; } /* bullet color */
li span { color:#DDDDDD; } /* text color */

table, th, td
{
border: 1px solid black;
border-collapse:collapse;
padding-left:5px;
padding-right:10px;
}

th
{
color:#0C6AB0;
background-color:#000000;
text-align:left;
}

td
{
color:#000000;
background-color:#DDDDDD;
}

/************************************************/
/* BORDERS                                      */
/************************************************/

.cornerTopLeft
{
background-image:url("images/gradient-corner-top-left.png");
background-repeat:no-repeat;
position:absolute;
top:0;
left:0;
width:40px;
height:35px;
z-index:101;
}

.cornerTopRight
{
background-image:url("images/gradient-corner-top-right.png");
background-repeat:no-repeat;
position:absolute;
top:0;
right:0;
width:40px;
height:35px;
z-index:101;
}

.cornerBottomLeft
{
background-image:url("images/gradient-corner-bottom-left.png");
background-repeat:no-repeat;
position:absolute;
bottom:0;
left:0;
width:40px;
height:35px;
z-index:101;
}

.cornerBottomRight
{
background-image:url("images/gradient-corner-bottom-right.png");
background-repeat:no-repeat;
position:absolute;
bottom:0;
right:0;
width:40px;
height:35px;
z-index:101;
}

.edgeTop
{
background-image:url("images/gradient-edge-top.png");
background-repeat:repeat-x;
position:absolute;
left:40px;
right:40px;
top:0;
height:35px;
z-index:101;
}

.edgeBottom
{
background-image:url("images/gradient-edge-bottom.png");
background-repeat:repeat-x;
position:absolute;
left:40px;
right:40px;
bottom:0;
height:35px;
z-index:101;
}

.edgeLeft
{
background-image:url("images/gradient-edge-left.png");
background-repeat:repeat-y;
position:absolute;
left:0;
top:35px;
bottom:35px;
width:40px;
z-index:101;
}

.edgeRight
{
background-image:url("images/gradient-edge-right.png");
background-repeat:repeat-y;
position:absolute;
right:0;
top:35px;
bottom:35px;
width:40px;
z-index:101;
}

/************************************************/
/* DOUBLE BORDERS                               */
/************************************************/

.doubleCornerTopLeft
{
background-image:url("images/gradient-double-corner-top-left.png");
background-repeat:no-repeat;
position:absolute;
top:0;
left:0;
width:80px;
height:70px;
z-index:101;
}

.doubleCornerTopRight
{
background-image:url("images/gradient-double-corner-top-right.png");
background-repeat:no-repeat;
position:absolute;
top:0;
right:0;
width:80px;
height:70px;
z-index:101;
}

.doubleCornerBottomLeft
{
background-image:url("images/gradient-double-corner-bottom-left.png");
background-repeat:no-repeat;
position:absolute;
bottom:0;
left:0;
width:80px;
height:70px;
z-index:101;
}

.doubleCornerBottomRight
{
background-image:url("images/gradient-double-corner-bottom-right.png");
background-repeat:no-repeat;
position:absolute;
bottom:0;
right:0;
width:80px;
height:70px;
z-index:101;
}

.doubleEdgeTop
{
background-image:url("images/gradient-double-edge-top-bottom.png");
background-repeat:repeat-x;
position:absolute;
left:80px;
right:80px;
top:0;
height:70px;
z-index:101;
}

.doubleEdgeBottom
{
background-image:url("images/gradient-double-edge-top-bottom.png");
background-repeat:repeat-x;
position:absolute;
left:80px;
right:80px;
bottom:0;
height:70px;
z-index:101;
}

.doubleEdgeLeft
{
background-image:url("images/gradient-double-edge-left-right.png");
background-repeat:repeat-y;
position:absolute;
left:0;
top:70px;
bottom:70px;
width:80px;
z-index:101;
}

.doubleEdgeRight
{
background-image:url("images/gradient-double-edge-left-right.png");
background-repeat:repeat-y;
position:absolute;
right:0;
top:70px;
bottom:70px;
width:80px;
z-index:101;
}

/************************************************/
/* HEADER                                       */
/************************************************/

#header
{
position:relative;
left:0;
right:0;
top:0;
min-width:740px;
min-height:130px;
z-index:100;
}

#headerCenter
{
font-family:"Emberlike-Caps";
font-style:italic;
font-size:60px;
color:transparent;
background:black;
background-image:url('images/header-center.png');
background-repeat:no-repeat;
position:absolute;
top:35px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}

#headerCenter span { margin-left:-1000px; }

/************************************************/
/* CONTAINER                                    */
/************************************************/

#container { position:relative; }

/************************************************/
/* FOOTER                                       */
/************************************************/

#footer
{
position:relative;
left:0;
right:0;
bottom:0;
min-width:720px;
min-height:100px;
height:100px;
z-index:100;
}

#footerCenter
{
font-family:"Emberlike-Caps";
font-style:italic;
font-size:30px;
color:transparent;
background:black;
background-image:url('images/footer-center.png');
background-repeat:no-repeat;
position:absolute;
top:35px;
bottom:0px;
left:40px;
right:40px;
height:30px;
}

#footerCenter span { margin-left:-1000px; }

/************************************************/
/* MENU                                         */
/************************************************/

#menu
{
float:left;
position:relative;
left:0;
top:0;
bottom:0;
min-width:260px;
min-height:245px;
width:260px;
margin-right:-260px;
z-index:100;
font-family:"Emberlike-Caps";
font-style:italic;
font-size:24px;
}

#menuDownNews:hover { background-image:url('images/menu-hover-news.png'); }
#menuDownNews
{
color:transparent;
background:black;
background-image:url('images/menu-down-news.png');
background-repeat:no-repeat;
position:absolute;
top:35px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuDownNews span { margin-left:-1000px; }

#menuUpNews:hover { background-image:url('images/menu-hover-news.png'); }
#menuUpNews
{
color:transparent;
background:black;
background-image:url('images/menu-up-news.png');
background-repeat:no-repeat;
position:absolute;
top:35px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuUpNews span { margin-left:-1000px; }

#menuDownFeatures:hover { background-image:url('images/menu-hover-features.png'); }
#menuDownFeatures
{
color:transparent;
background:black;
background-image:url('images/menu-down-features.png');
background-repeat:no-repeat;
position:absolute;
top:60px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuDownFeatures span { margin-left:-1000px; }

#menuUpFeatures:hover { background-image:url('images/menu-hover-features.png'); }
#menuUpFeatures
{
color:transparent;
background:black;
background-image:url('images/menu-up-features.png');
background-repeat:no-repeat;
position:absolute;
top:60px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuUpFeatures span { margin-left:-1000px; }

#menuDownAbout:hover { background-image:url('images/menu-hover-about.png'); }
#menuDownAbout
{
color:transparent;
background:black;
background-image:url('images/menu-down-about.png');
background-repeat:no-repeat;
position:absolute;
top:85px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuDownAbout span { margin-left:-1000px; }

#menuUpAbout:hover { background-image:url('images/menu-hover-about.png'); }
#menuUpAbout
{
color:transparent;
background:black;
background-image:url('images/menu-up-about.png');
background-repeat:no-repeat;
position:absolute;
top:85px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuUpAbout span { margin-left:-1000px; }

#menuDownDonate:hover { background-image:url('images/menu-hover-donate.png'); }
#menuDownDonate
{
color:transparent;
background:black;
background-image:url('images/menu-down-donate.png');
background-repeat:no-repeat;
position:absolute;
top:110px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuDownDonate span { margin-left:-1000px; }

#menuUpDonate:hover { background-image:url('images/menu-hover-donate.png'); }
#menuUpDonate
{
color:transparent;
background:black;
background-image:url('images/menu-up-donate.png');
background-repeat:no-repeat;
position:absolute;
top:110px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuUpDonate span { margin-left:-1000px; }

#menuDownDownloads:hover { background-image:url('images/menu-hover-downloads.png'); }
#menuDownDownloads
{
color:transparent;
background:black;
background-image:url('images/menu-down-downloads.png');
background-repeat:no-repeat;
position:absolute;
top:135px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuDownDownloads span { margin-left:-1000px; }

#menuUpDownloads:hover { background-image:url('images/menu-hover-downloads.png'); }
#menuUpDownloads
{
color:transparent;
background:black;
background-image:url('images/menu-up-downloads.png');
background-repeat:no-repeat;
position:absolute;
top:135px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuUpDownloads span { margin-left:-1000px; }

#menuDownMailingList:hover { background-image:url('images/menu-hover-list.png'); }
#menuDownMailingList
{
color:transparent;
background:black;
background-image:url('images/menu-down-list.png');
background-repeat:no-repeat;
position:absolute;
top:160px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuDownMailingList span { margin-left:-1000px; }

#menuUpMailingList:hover { background-image:url('images/menu-hover-list.png'); }
#menuUpMailingList
{
color:transparent;
background:black;
background-image:url('images/menu-up-list.png');
background-repeat:no-repeat;
position:absolute;
top:160px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuUpMailingList span { margin-left:-1000px; }

#menuDownContact:hover { background-image:url('images/menu-hover-contact.png'); }
#menuDownContact
{
color:transparent;
background:black;
background-image:url('images/menu-down-contact.png');
background-repeat:no-repeat;
position:absolute;
top:185px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuDownContact span { margin-left:-1000px; }

#menuUpContact:hover { background-image:url('images/menu-hover-contact.png'); }
#menuUpContact
{
color:transparent;
background:black;
background-image:url('images/menu-up-contact.png');
background-repeat:no-repeat;
position:absolute;
top:185px;
bottom:35px;
left:40px;
right:40px;
z-index:100;
}
#menuUpContact span { margin-left:-1000px; }

/************************************************/
/* CONTENT                                      */
/************************************************/

.content
{
position:relative;
top:0;
bottom:30px;
left:260px;
right:0;
margin-right:310px;
padding-right:75px;
padding-bottom:50px;
min-width:450px;
min-height:300px;
width:auto;
z-index:90;
}

.contentCenter
{
background-color:#000000;
background-image:url('images/texture-spirals-canvas.png');
color:#DDDDDD;
position:relative;
top:35px;
bottom:25px;
left:40px;
right:40px;
padding-top:30px;
padding-bottom:30px;
padding-right:30px;
margin-bottom:20px;
font-family:sans-serif;
z-index:90;
}

.content-header
{
position:relative;
left:40px;
right:40px;
padding-right:50px;
font-family:"Emberlike-Caps";
font-style:italic;
font-size:30px;
text-decoration:none;
color:#0C6AB0;
}

.content-filler
{
position:relative;
left:40px;
right:40px;
padding-right:50px;
font-family:sans-serif;
font-size:22px;
color:#DDDDDD;
margin-bottom:30px;
}

/************************************************/
/* DOCUMENTATION                                */
/************************************************/

.documentation
{
position:relative;
top:0;
bottom:30px;
left:-260px;
right:0;
margin-right:-310px;
min-width:450px;
min-height:300px;
width:auto;
z-index:90;
}

/************************************************/
/* MISC                                         */
/************************************************/

.img
{
width:100%;
max-height:auto;
}

.icon
{
padding-top:5px;
width:32px;
height:32px;
}
